body {
    background: url('./assets/dark_blue_background.gif') repeat;
    margin: 0;
    font-family: 'BernhardMod BT', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.header {
  margin-bottom: 20px;
  color: #afafaf;
}

.main-title {
    font-family: "Eras Demi ITC", sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.sleep {
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);

}

.sleep p {
  margin: 0.4rem 0;
  line-height: 1.2; /* keeps lines tighter */
  
}